@using BOL;

@{
    ViewData["Title"] = "Product Page";
}

<div class="text-center">
    <h1 class="display-4">Products Info</h1>
    
     @{
        List<Product> allProducts= (List<Product>)ViewData["products"];
        <ol>
            @foreach( Product product in allProducts){
                <li>@product.ProductName</li>
            }    
        </ol>    
    }

</div>
